{
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "./src/app/src/main/play/release-notes/en-US/default.txt"
      }
    ],
    [
      "gradle-semantic-release-plugin",
      {
        "pd": "./src",
        "t": "app:publishApkRelease"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "src/app/build/outputs/apk/release/app-release.apk",
            "label": "Release APK"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "./src/gradle.properties"
        ]
      }
    ]
  ]
}