{
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "./CHANGELOG.md"
      }
    ],
    [
      "gradle-semantic-release-plugin",
      {
        "pd": "./src",
        "t": "app:publishReleaseApk"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "src/app/build/outputs/apk/release/app-release.apk",
            "label": "Release APK"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "./src/gradle.properties"
        ]
      }
    ]
  ]
}